<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>nthome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form [formGroup]="myForm">
      <ion-card>
        <ion-card-header>
          <ion-card-subtitle>add itms to the nthome list</ion-card-subtitle>
          <ion-card-title>Nthome List</ion-card-title>
        </ion-card-header>
        <ion-card-content>
      <ion-item *ngFor="let control of myForm.controls | keyvalue">
        <ion-input required type="text" [formControlName]="control.key" placeHolder="Item Name..."></ion-input>
        <ion-icon (click)="removeControl(control)" name="close-circle"></ion-icon>
      </ion-item>
      <ion-button expand="full" color="light" (click)="addControl()">Add Item</ion-button>
      </ion-card-content>
      </ion-card>
      <ion-text padding align-items-center>
        <p class="carName" >Total Price:   {{ price }}</p>
      </ion-text>
      <ion-button expand="block" (click)="openPicker()">Total price</ion-button>
      <ion-text padding align-items-center>
        <p class="carName" >Nthome Agent Offer:   {{ priceOffer }}</p>
      </ion-text>
      <ion-button expand="block" (click)="openPickerOffer()">Offer</ion-button>
    </form>
  </ion-list>

</ion-content>
<ion-footer>
  <ion-button expand="block" color="dark" (click)="done()">
    DONE</ion-button>
</ion-footer>